nav.navbar-default.navbar {
    background: #F1876F;
    color: white;
    font-family: 'PT Sans', sans-serif, 14px;
}

.nav navbar-nav {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-brand{
    padding-top:6px;
}

#logoNav{
    position: relative;
    height:40px;
    width: 40px;
    float: right;
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
}
footer.navbar-default.navbar-fluid-bottom {
    background: #F1876F;
    color: white;
    padding: 2em 0;
    font-family: 'PT Sans', sans-serif, 14px;
}

footer.navbar-default.navbar-fluid-bottom p {
    margin: 0;
}

/* Colorcoding on request change navbar-default to light
.navbar {
background-color: darkblue;
}
*/
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pageslp {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    padding-top: 2%;
    text-align: center;
    color: darkgray;
}

.box > .icon {

    text-align: center;
    position: relative;
    margin-top: 10%;
    background-color: white;
    border: solid 1px;
    border-color: grey;
    box-shadow: 0px 3px #000000,16%;




.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.box > .icon > .info > h3.title {
    font-family: sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.box > .icon > .info > p {
    font-family: sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    color: #222;
}

.box > .icon > .info > .more a {
    font-family: sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}

.box .space {
    height: 30px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CSS Styling for Categories (How does it work Page >>End here
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
*/
#productcategoryimage {
  
    background-position:;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #428bca;
    height: 200px;
    margin-bottom: 5%;

}
